<section class="about_me">
    <div class="about_me-text">
        <h3>Sobre Mi</h3>
        <p>Soy un profesional al cual siempre le ha atraído la tecnología y sus particularidades, por lo cual con el pasar de los años me propuse no solo consumir tecnología, sino también crearla. Tengo estudios
            profesionales de psicología y técnicos en diseño gráfico publicitario, en la actualidad me desempeño como desarrollador web fullstack, con enfoque en el stack MEAN, y con conocimiento en bases de datos relacionales, no relacionales y multiples lenguajes de programación.
        </p>
    </div>
</section>
