<section class="about_me">
    <div class="about_me-text">
        <h3>Sobre Mi</h3>
        <p>Me defino a mí mismo como una persona disciplinada, siempre impulsada por el deseo de aprender y
        educarse para solucionar problemas mediante el uso de la tecnología, cuento con comunicación asertiva,
        además de ser empático y no temer preguntar ante la duda,  tengo conocimientos en múltiples tecnologías
        dentro de las cuales destaco los lenguajes de programación C#, JavaScript y Typescript, me desempeño en
        los entornos de trabajo .NET (Visual Studio) y Angular JS, cuento con conocimiento en implementación de
        diferentes ORM tales como EntityFramework, Squalize y Moongose, así como el desarrollo e implementación de
        APIs, maquetación y diseño de aplicaciones.
        </p>
    </div>
</section>
