<footer class="footer">
  <div class="footer-container">
    <div class="scroll-to-top-container">
      <a href="#navbar"><button class="scroll-to-top-button" ><i class="fas fa-chevron-up"></i></button></a>
    </div>
    <div class="footer-links">
      <a href="https://github.com/ManeDM" target="_blank"><img id="soc_1" class="object"  data-value="3" src="assets/icons/git.svg" alt="GitHub Repository"></a>
      <a href="https://www.linkedin.com/in/christian-moreno-dv/" target="_blank"><img id="soc_2" class="object" data-value="3" src="assets/icons/linkedin.svg" alt="LinkedIn Profile"></a>
      <a href="mailto:manecreador@gmail.com?subject=Hola" target="_blank"><img id="soc_3" class="object" data-value="3" src="assets/icons/gmail.svg" alt="Gmail"></a>
      <a href="https://wa.me/573196017833?text=Hola,%20Gracias%20por%20contactarme%20por%20este%20medio" target="_blank"><img id="soc_4" class="object" data-value="3" src="assets/icons/wp.svg" alt="Whatsapp contact"></a>
    </div>
    <div class="footer-download">
      <a href="https://drive.google.com/file/d/1ef_qIuRhiVD87QW627hO1_7BasJoBA1Y/view?usp=sharing" class="btn btn-primary"><i class="fas fa-file-download"></i> Descargar CV</a>
    </div>
  </div>
</footer>


