.footer {
  background-color: #1d1d1d;
  color: #fff;
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  padding: 10px 0;
}

.footer-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
}

.footer-links {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  margin-bottom: 10px;
}

.footer-links a {
  margin-right: 30px;
  font-size: 1rem;
  color: #fff;
  text-decoration: none;
  transition: all 0.3s ease;
}

.footer-links a img {
  vertical-align: middle;
}

.footer-links a img#soc_3 {
  vertical-align: middle;
  margin-top: 5px;
}

.footer-links a:last-child {
  margin-right: 0;
}

.footer-links a:hover {
  color: #b3b3b3;
}

.footer-download {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.footer-download .btn {
  border-radius: 25px;
  padding: 4.5px 10px;
  text-decoration: none;
  font-size: 0.8rem;
}

.footer-download .btn-primary {
  background-color: #4f42b9;
  border-color: #5b4ebe;
  color: #fff;
}

.footer-download .btn-primary:hover {
  background-color: #d4d45c;
  border-color: #666604;
}

.scroll-to-top-container {
  
  bottom: 20px;
  right: 20px;
}

.scroll-to-top-button {
  margin-bottom: -50px;
  border: none;
  background: none;
  color: #fff;
  font-size: 1.5rem;
  cursor: pointer;
}

.footer-links a i {
  font-size: 24px; 
  color: #4f42b9; 
  transition: transform 0.3s ease;
  margin-top: 6px;
}

.footer-links a:hover i {
  transform: scale(1.1);
  color: #d4d45c; 
}