<section class="proj">
    <h3 class="object" data-value="3">Proyectos</h3>
    <div class="proj_icon">
        <img class="object" data-value="3" src="assets/project_cards/gengar.svg" id="cd" alt="Pokedex">
        <img class="object" data-value="3" src="assets/project_cards/cafe_reflejo.svg" id="cd" alt="Proyecto 2">
        <img class="object" data-value="3" src="assets/project_cards/CRUD_fullstack.svg" id="cd" alt="Proyecto 3">
        <img class="object" data-value="3" src="assets/project_cards/outer-space.svg" id="cd" alt="Proyecto 4">
        <img class="object" data-value="3" src="assets/project_cards/gengar.svg" id="cd" alt="Proyecto 5">
        <img class="object" data-value="3" src="assets/project_cards/gengar.svg" id="cd" alt="Proyecto 6">
</div>
</section>