
section.proj {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 40px;
  text-align: center;
  margin-bottom: 150px;
  margin-top: 10px;
}

section.proj h3 {
  font-size: 2.5rem;
  margin-bottom: 20px;
}

section.proj .proj_icon {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  max-width: 800px;
  margin: 0 auto;
  cursor: pointer;
}

section.proj .proj_icon img {
  height: 225px;
  width: 225px;
  margin: 20px;
  transition: all 0.3s ease-in-out;
  filter: brightness(80%);
}

section.proj .proj_icon img:hover {
  transform: scale(1.1);
  filter: brightness(100%);
  transition: all 0.3s ease-in-out;
  z-index: 2;
}

section.proj .proj_icon img:hover ~ img {
  filter: brightness(60%);
  transition: all 0.3s ease-in-out;
  
}

section.proj .proj_icon .card {
  border: none;
  background: none;
}


section.proj .proj_icon .card-buttons {
  position: absolute;
  bottom: -0.5px;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  gap: 10px;
}


section.proj .proj_icon .card-buttons a {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 40px; 
  height: 40px; 
  background-color: #9e48af;
  color: #fff;
  text-decoration: none;
  border-radius: 50%; 
  transition: background-color 0.3s ease-in-out;
}


section.proj .proj_icon .card-buttons a:hover {
  background-color: #d4d45c;
}

section.proj .proj_icon .card a #pokedex {
  margin-top: 40px; 
}