<section class="proj">
    <h3 class="object" data-value="3">Proyectos</h3>
    <div class="proj_icon">
        <img class="object " data-value="3" src="assets/project_cards/pokedex.svg" id="pokedex" alt="Pokedex">
        <img class="object" data-value="3" src="assets/project_cards/cafe_reflejo.svg" id="café" alt="Café Reflejo">
        <img class="object" data-value="3" src="assets/project_cards/CRUD_fullstack.svg" id="crud" alt="CRUD Fullstack">
        <img class="object" data-value="3" src="assets/project_cards/outer-space.svg" id="space" alt="Peso en el espacio">
        <img class="object" data-value="3" src="assets/project_cards/logo.svg" id="fundacion" alt="Fundación Crecer">
        <img class="object" data-value="3" src="assets/project_cards/portfolio.svg" id="portafolio" alt="Portafolio">
</div>
</section>