<section class="proj">
    <h3 class="object" data-value="3">Proyectos</h3>
    <div class="proj_icon">
        <a href="https://manedm.github.io/Pokedex/" target="_blank"><img class="object" data-value="3"src="assets/project_cards/pokedex.svg" id="pokedex" alt="Pokedex"></a>
        <a href="https://manedm.github.io/Cafereflejo/" target="_blank"><img class="object" data-value="3" src="assets/project_cards/cafe_reflejo.svg" id="café" alt="Café Reflejo"></a>
        <a href="https://github.com/ManeDM/CRUD_Fullstack_Angular/tree/main" target="_blank"><img class="object" data-value="3" src="assets/project_cards/CRUD_fullstack.svg" id="crud" alt="CRUD Fullstack"></a>
        <a href="https://manedm.github.io/Peso-en-el-espacio/" target="_blank"><img class="object" data-value="3" src="assets/project_cards/outer-space.svg" id="space" alt="Peso en el espacio"></a>
        <a href="https://manedm.github.io/ChristianMorenoPortfolio/" target="_blank"><img class="object" data-value="3" src="assets/project_cards/logo.svg" id="fundacion" alt="Fundación Crecer"></a>
        <a href="https://manedm.github.io/ChristianMorenoPortfolio/" target="_blank"><img class="object" data-value="3" src="assets/project_cards/portfolio.svg" id="portafolio" alt="Portafolio"></a>
</div>
</section>