section.proj {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 40px;
    text-align: center;
    margin-bottom: 150px;
    margin-top: 10px;
  }
  
  section.proj h3 {
    font-size: 2.5rem;
    margin-bottom: 20px;
  }
  
  section.proj .proj_icon {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    max-width: 800px;
    margin: 0 auto;
  }
  
  section.proj .proj_icon img {
    height: 225px;
    width: 225px;
    margin: 20px;
  }