<section class="techs">
    <h3 class="object" data-value="3">Tecnologías</h3>
    <div class="techs_icon">
        <img id="tec" src="assets/techs/html5-svgrepo-com.svg" alt="Html">
        <img id="tec" src="assets/techs/css3-svgrepo-com.svg" alt="Css">
        <img id="tec" src="assets/techs/javascript-svgrepo-com.svg" alt="Javascript">
        <img id="tec" src="assets/techs/typescript-svgrepo-com.svg" alt="Typescript">
        <img id="tec" src="assets/techs/python-svgrepo-com.svg" alt="Python">
        <img id="tec" src="assets/techs/angular-svgrepo-com.svg" alt="Angular">
        <img id="tec" src="assets/techs/django-svgrepo-com.svg" alt="DJango">
        <img id="tec" src="assets/techs/fastapi-svgrepo-com.svg" alt="FastAPI">
        <img id="tec" src="assets/techs/sass-fill-svgrepo-com.svg" alt="SASS">
        <img id="tec" src="assets/techs/mongoDB.svg" alt="Mongo Data Base">
        <img id="tec" src="assets/techs/mySqlDB.svg" alt="MySql Data Base">
        <img id="tec" src="assets/techs/photoshop.svg" alt="Adobe Photoshop">
        <img id="tec" src="assets/techs/illustrator.svg" alt="Adobe Illustrator">
        <img id="tec" src="assets/techs/figma.svg" alt="Figma">
    </div>
</section>
